body{
    /*height: 100vh;*/
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    margin: auto;
    background-size: cover !important;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background-repeat: no-repeat;
}

.banner{
    height: calc(100vh - 50px);
}

.topnav {
    background-color: #333;
    overflow: hidden;
    width:100vw;
    heigh: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #d3d3d3;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
    height: 50px;
}

.topnav img{
    float:left;
    padding: 0;
    margin: 0;
    height: 50px;
}

.action-btn a{
    padding: 14px 16px;
    background-color: #333;
}




