body{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-size: cover !important;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-repeat: revert;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

#map-map-mapbox-location-field{
    width: 60vw;
    min-width: 600px;
    height: 40vh;
    margin-top: 10px;

}

.banner{
    height: calc(100vh - 122px - 20px);
}

.topnav {
    overflow: hidden;
    width:100vw;
    heigh: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: darkblue;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
    height: 50px;
}

.topnav img{
    float:left;
    padding: 0;
    height: 90px;
}

.action-btn a{
    padding: 14px 16px;
    background-color: #333;
}

textarea{
    height: 100px;
}

.banner li {
    padding-top: 10px;
    list-style: none;
    width: 600px;
    display: inline-block;
}

form {
    margin-left: 20vw;
    margin-top:10px;
    width: 60vw;
}
form label{
    color: white;
}


form #map{
    width: 250px !important;
}



