{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
<!-- add stuff here -->

    <div class="row">
   <div class="small-12 medium-2 large-2 columns">
       <div class="circle">
       <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">

     </div>
     <div class="p-image">
       <i class="fa fa-camera upload-button"></i>
        <input class="file-upload" type="file" accept="image/*"/>

     </div>
  </div>
</div>


    <h3>My Tools</h3>
    <h3>My Rentals</h3>




{% endblock %}