{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
<!-- add stuff here -->


       <div class="circle">
       <img class="profile-pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">

     </div>
     <div class="profile_image">
       <i class="upload-button"></i>
        <input class="file-upload" type="file" accept="image/*"/>

     </div>



    <h3>My Tools</h3>
    <h3>My Rentals</h3>




{% endblock %}