{% extends "base.html" %}
{% load static %}
{% block title %}My Account{% endblock %}
{% block head %}<link rel="stylesheet" href={% static "profile.css" %}>{% endblock %}


{% block content %}

<form method="post" enctype="multipart/form-data" class = "bg-black/25 py-4 px-6 rounded">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<div class="My-tools">
<a href=<{% url "accounts:add_tools" %>My Rental:</a>
</div>

<div class="My-rentals">
<p><a href = "accounts:add_tools">My Tools:</a></p>
{#<p>A relative URL: <a href="tag_a.asp">rental</a></p>#}

</div>

{% endblock %}