{% extends "base.html" %}
{% load static %}
{% block title %}My Account{% endblock %}
{% block head %}<link rel="stylesheet" href={% static "profile.css" %}>{% endblock %}


{% block content %}
{#    <style>#}
{##}
{##}
{#    body {#}
{#        background-image: linear-gradient(to right, #ffecd2 0%, #ff794e 100%);#}
{#        position: absolute;#}
{#    }#}
{##}
{##}
{#    img {#}
{#        max-width: 100%;#}
{#        max-height: 100%;#}
{#        float: left;#}
{#        top: 1000px;#}
{#    }#}
{#    .profile-pic {#}
{#        height: 200px;#}
{#        width: 200px;#}
{##}
{#        position: relative;#}
{#        top: 75px;#}
{#        left: 150px;#}
{##}
{#    }#}
{##}
{#    .My-tools {#}
{#        position: relative;#}
{#        font-family: "Comic Sans MS", "Comic Sans", cursive;#}
{#        left: 500px;#}
{#        bottom: 175px;#}
{#    }#}
{#    .My-rentals {#}
{#        position: relative;#}
{#        font-family: "Comic Sans MS", "Comic Sans", cursive;#}
{##}
{#        left: 500px;#}
{#    }#}
{##}
{#    .upload-button {#}
{#        position: relative;#}
{#        top: 75px;#}
{#        left: 150px;#}
{#    }#}
{##}
{##}
{#    </style>#}
{#<style>#}
{#img {#}
{#  display: block;#}
{#  margin-left: auto;#}
{#  margin-right: auto;#}
{#}#}
{##}
{#.vertical-center {#}
{#  margin: 0;#}
{#  position: absolute;#}
{#  top: 50%;#}
{#  -ms-transform: translateY(-50%);#}
{#  transform: translateY(-50%);#}
{#}#}
{##}
{#.container {#}
{#  height: 100px;#}
{#  position: relative;#}
{#  border: 1px solid green;#}
{#}#}
{#</style>#}


<style>

</style>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<div class="My-tools">
<a href=<{% url "accounts:add_tools" %>My Rental:</a>
</div>

<div class="My-rentals">
<p><a href = "accounts:add_tools">My Tools:</a></p>
{#<p>A relative URL: <a href="tag_a.asp">rental</a></p>#}

</div>

{% endblock %}