{% extends "base.html" %}
{% load static %}
{% block title %}My Account{% endblock %}
{% block head %}<link rel="stylesheet" href={% static "profile.css" %}>{% endblock %}


{% block content %}

<form method="post" enctype="multipart/form-data" class = "bg-black/25 py-4 px-6 rounded">
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit" class = "mt-8 inline-block text-xl padding-10 bg-[#005bea] hover:bg-[#00c6fb] text-white py-4 px-6 rounded">Save</button>
</form>

<div class="My-tools">
<button>
    <p><a href="accounts:add_tools" >My Activity:</a></p>
</button>
</div>

{% endblock %}