{% extends "rental/base_edit_listing.html" %}

{% block title %}Add listing{% endblock %}

{% block content %}
    <!--block.super will paste what's in the content block of rental/base_edit_listing.html into here.
    That being the form for creating a listing.-->
    {{ block.super }}
    <style>
     body{
        <!--background-image: linear-gradient(to top, #efedeb 0%, #11a0e8 100%);-->
      p {
          <!--color: yellow;-->
          border: 1px solid black;
      }
      .content{
          max-width:500px;
          margin-left:auto;
          margin_right:auto;
      }
    </style>

    <div class = "content">
    <h1 style = "font-family:courier; text-align: center">-Add your own lists-</h1>
    </div>

    <pre>
    <table style = "width:100%">
    <tr>
        <th><label for = "location">Add Location:</label></th>
        <th><label for = "description">Add Description:</label></th>
        <th><label for = "tags">Add Tags:</label></th>
        <th><label for = "schedule">Add Schedule:</label></th>
    </tr>

    <tr>
        <!--<th><input type = "location"></form><br><br></th>-->
        <th><textarea rows = "7" cols = "20" name = "location">--We'd love to know where to pick up your tools!
        </textarea>
        </th>

        <!--<th><input type = "description"></form><br><br></th>-->
        <th><textarea rows = "7" cols = "20" name = "description">--how your tools be like are important!
        </textarea>
        </th>
            <!--<textarea rows = "5" cols = "10" name = "location">
         </textarea><br><br>-->

            <!--<textarea rows = "5" cols = "10" name = "location">
         </textarea><br><br>-->
        <!--<th><input type = "tags"></form><br><br></th>-->
        <th><textarea rows = "7" cols = "20" name = "tags">--categorize your sells for easier search!
        </textarea>
        </th>

        <!--<textarea rows = "5" cols = "10" name = "location">
         </textarea><br><br>-->
        <!--<th><input type = "schedule"></form><br><br></th>-->
        <th><textarea rows = "7" cols = "20" name = "schedule">--Got free time to meet? will let buyers know!</textarea>
        </th>
    </tr>




    </table>
    </pre>


    <div class = "content">
    <title>Click for Pics</title>

    <pre>
    <button type="button" value = "ADD PICTURE" style="display:block;margin:0 auto;"r>Add Pictures
    <p style = "color:yellow">Click here to upload pics:</p>
    </button>





    <p style = "font-family: solid; font-size:120%;text-align: center">Share your tools with everyone!</p>
    </pre>







        <!-- <label for = "location">Add Location:</label>
        <input type = "location"></form><br><br>
        <label for = "description">Add Description:</label>
        <input type = "text" name = "description"></form><br><br>
        <label for = "tags">Add Tags:</label>
        <input type = "text" name = "tags"></form><br><br>
        <label for = "schedule">Add Schedule:</label>
        <input type = "datetime" name = "schedule"></form><br>

         -->



{% endblock %}