{% extends "base.html" %}

{% load static %}
{% block title %}Home{% endblock %}

{% block head %}

<link rel="stylesheet" href={% static "home.css" %}>

{% endblock %}

{% block content %}

<h2 class = "text-5xl leading-normal mt-[15vh] mb-16 text-white font-bold">Welcome to ToolTime!</h2>

    <div class="w-6/12 pt-[10vh] m-auto flex justify-between">
    <button class = "inline-block text-3xl padding-10 bg-[#005bea] hover:bg-[#00c6fb] text-white py-6 px-8 rounded">
    <a href = {%  url "rental:add" %}>Post a Tool</a>
    </button>

    <button class = "inline-block text-3xl padding-10 bg-[#005bea] hover:bg-[#00c6fb] text-white py-6 px-8 rounded">
    <a href= {%  url "rental:search" %}>Find a Tool</a>
    </button>
    </div>



{% endblock %}