{% extends "base.html" %}
{% load static %}


{% block title %}Tool Search{% endblock %}
{% block head %}<link rel="stylesheet" href={% static "search.css" %}>{% endblock %}

{% block content %}
{#    <style>#}
{#    body{#}
{#        background-image: linear-gradient(to top, #e3dbd7 0%, #18a1e7 100%);#}
{#    }#}
{#</style>#}
<form method="post" action={% url "rental:search-results" %} class = "bg-black/25 py-4 px-6 rounded">
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit" class=" float-right text-xl padding-10 bg-[#005bea] hover:bg-[#00c6fb] text-white font-bold py-2 px-4 rounded">Search</button>
</form>
{% endblock %}